.about-view {
  background-color: #f0f0f0;
  height: 100%;
  width: 100%; }

.ribbon {
  top: 3.2em;
  right: -3.7em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #fff;
  display: block;
  padding: .6em 3.5em;
  position: fixed;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.bg-green {
  background-color: #009788; }

.bg-blue {
  background-color: #0074d9; }

.bg-teal {
  background-color: #39cccc; }

.bg-olive {
  background-color: #3d9970; }

.bg-yellow {
  background-color: #ffdc00; }

.bg-orange {
  background-color: #ff851b; }

.bg-red {
  background-color: #ff4136; }

.wrapper {
  height: 85%;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px; }

.issues button {
  font-size: 1.2em;
  padding: 10px 30px;
  background: #fdfdfd;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  display: block;
  box-shadow: 0 2px 3px #e4e4e4;
  color: #009788; }

.contact-button {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #009788; }

footer {
  height: 35px;
  margin-top: 3px;
  text-size: 8px;
  background-color: #43ab9b; }

footer .container {
  margin: 1px; }

.footer-text {
  font-family: 'Open Sans', sans-serif;
  color: #a9d3cf;
  padding-left: 50px; }

.footer-link {
  text-decoration: none;
  color: #a9d3cf; }

.city-rep {
  text-align: center; }

.details-view {
  background-color: #f0f0f0; }

* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

.content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  height: 100%;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

#app {
  height: 100%; }

.details-view {
  font-family: 'Open Sans', sans-serif;
  padding: 1em 2em; }
  .details-view a {
    color: black;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase; }
  .details-view form > input {
    display: block; }
  .details-view form > input[type=submit] {
    background: black;
    border: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 4px;
    padding: 6px 10px; }
  .details-view form > textarea {
    font-family: 'Open Sans', sans-serif;
    padding: 6px; }
  .details-view svg {
    margin-right: 4px;
    stroke: black;
    stroke-width: 2px;
    vertical-align: 1px; }
  .details-view h2 {
    border-bottom: 1px solid black;
    font-weight: 400;
    padding-bottom: 4px;
    width: 50%; }

.btn-link {
  border: none;
  background: none;
  cursor: pointer; }

.search-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 0 auto;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #009788;
  height: 3em; }

.input-address {
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0.5em;
  background: #ffffff;
  font-size: 1em;
  border-radius: 25px;
  border: 0; }

input[placeholder] {
  padding-left: 0.5em;
  color: #43ab9b; }

.icon-container {
  color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5em;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.search-bar-icon {
  color: white;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.hide {
  display: none !important; }

.spinner {
  z-index: 900;
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%; }

.spinner .spinner-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-transform: uppercase; }

#map {
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0;
          flex: 1 1 0;
  height: 100%;
  width: 100%; }
