footer {
  height: 35px;
  margin-top: 3px;
  text-size: 8px;
  background-color: #43ab9b
}

footer .container {
  margin: 1px;
}

.footer-text {
  font-family: 'Open Sans', sans-serif;
  color: #a9d3cf;
  padding-left: 50px;
}

.footer-link {
  text-decoration: none;
  color: #a9d3cf;
}

.city-rep {
  text-align: center;
}
