
.footer-container {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;

}

.footer-text {
  font-family: 'Open Sans', sans-serif;
  color: #a9d3cf;
  padding-left: 50px;
}

.footer-link {
  text-decoration: none;
  color: #a9d3cf;
}

.city-rep {
  text-align: center;
}
